* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.saat {
    width: 100%;
    height: 30vh;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: auto;
    font-size: 6rem;
    background-color: black;
    color: white;
}